/* app css stylesheet */
body, html {
  height: 100%;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

/* Interviews List */
nav.interviews {
  width: 320px;
  position: fixed;
  top: 100px;
  z-index: 99;
  background-color: #fff;
  height: 100%;
}
.interviews-list {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ececec;
  height: 100%;
}
.interviews-list li {
  border-bottom: 1px solid #ececec;
  padding: 10px;
  cursor: pointer;
}
  .interviews-list li:hover {
    background-color: #f9f9f9;
  }
  .interviews-list a h1, .interviews-list a p {
    margin: 0;
  }
  .interviews-list a h1 {
    font-size: 1em;
  }
  .interviews-list a h1 p {
    font-size: 0.85em;
  }
  .interviews-list a {
    text-decoration: none;
    color: #454545;
  }

/* Article */
article {
  width: 990px;
  margin-left: 340px;
  margin-top: 120px;
}
  article .copy {
    max-width: 600px;
    margin: 2em 0;
  }
  article .copy p {
    line-height: 1.8em;
  }
.hero .image-holder {
  width: 645px;
  border-top: 5px solid #ffd700;
}
  .hero .image-holder p {
    padding: 5px;
    width: 635px;
    margin-top: 0;
    background-color: #333;
    color: #999;
    font-size: 0.75em;
  }
    .hero .image-holder p a {
      color: #ffd700;
    }
 
.collage.hero .image-holder {
  float: left;
  max-width: 320px;
  overflow: hidden;
  margin-right: 5px;
} 
  .collage.hero .image-holder p {
    width: 310px;
    height: 50px;
  }

/* Audio Player */
#audio_player {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.player-track-info {
  padding: 10px;
  background-color: #ffe200;
}
  .player-track-info h1, .player-track-info p {
    line-height: 1em;
    font-size: 0.85em;
    margin: 0;
    color: #454545;
  }
  .player-track-info h1 {
    margin-bottom: 0.3em;
  }

/* videogular */
.videogular-container.audio {
  height: 50px;
}

@media screen and (max-width: 1020px) {
  body, html {height: auto;}
  nav.interviews {
    width: auto;
    position: static;
    margin-top: 100px;
    height: auto;
  }
  .interviews-list {
    height: auto;
    border: none;
  }  
  article {
    width: auto;
    margin: 2em 1em;
  }
}

@media screen and (max-width: 670px) {
  .hero {
    margin: 0 auto;
    width: 320px;
  }
    .hero .image-holder {
      margin: 5px 0;
      max-width: 320px;
    }
      .hero .image-holder img {
        max-width: 320px;
        height: auto;
      }
      .hero .image-holder p {width: 310px;}
}